<nav class="navbar navbar-light bg-success">
    <div class="container">
        <h1 style="color: white">Update Employee  Details</h1>
        <div *ngIf="message" style="position: absolute; 
        transform: translateX(50%); right: 50%; " class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Updated!</strong> Employee Updated Succesfully.
            <button (click)="remove()" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        
            <a href="#" routerLink="/post/index" class="btn btn-info">Back</a>

    </div>
</nav>
<div class="container">
    <form [formGroup]="form" (ngSubmit)="submit()">

        <div class="form-group">
            <label class="m-2" for="firstname">First Name</label>
            <input formControlName="firstname" id="firstname" type="text"  class="form-control"[ngClass]="{ 'is-invalid': (f.firstname.dirty || f.firstname.touched) && f.firstname.invalid }"
              >
            <div class="invalid-feedback" *ngIf="(f.firstname.dirty || f.firstname.touched) && f.firstname.invalid" class="alert alert-danger">
                <div *ngIf="f.firstname.errors">First Name is required.</div>
            </div>
        </div>

        <div class="form-group">
            <label class="m-2" for="lastname">Last Name</label>
            <input formControlName="lastname" id="lastname" type="text" 
                class="form-control"
                [ngClass]="{ 'is-invalid': (f.lastname.dirty || f.lastname.touched) && f.lastname.invalid }">
            <div class="invalid-feedback" *ngIf="(f.lastname.dirty || f.lastname.touched) && f.lastname.invalid" class="alert alert-danger">
                <div *ngIf="f.lastname.errors">Last Name is required.</div>
            </div>
        </div>
        <div class="form-group">
            <label  class="m-2" for="jobtitle">JobTitle</label>
            <input formControlName="jobtitle" id="jobtitle" type="text" 
                class="form-control"
                [ngClass]="{ 'is-invalid': (f.jobtitle.dirty || f.jobtitle.touched) && f.jobtitle.invalid }">
            <div class="invalid-feedback"  *ngIf="(f.jobtitle.dirty || f.jobtitle.touched) && f.jobtitle.invalid" class="alert alert-danger">
                <div *ngIf="f.jobtitle.errors">jobtitle is required.</div>
            </div>
        </div>
        <div class="form-group">
            <label class="m-2" for="email">Email</label>
            <input formControlName="email" id="email" type="text"  class="form-control"
            [ngClass]="{ 'is-invalid': (f.email.dirty || f.email.touched) && f.email.invalid }">
            <div class="invalid-feedback" *ngIf="(f.email.dirty || f.email.touched) && f.email.invalid" class="alert alert-danger">
                <div *ngIf="f.email.errors">email is required.</div>
            </div>
        </div>
        <div class="form-group">
            <label class="m-2" for="address">Address</label>
            <input formControlName="address" id="address" type="text"  class="form-control"
            [ngClass]="{ 'is-invalid': (f.address.dirty || f.address.touched) && f.address.invalid }">
            <div class="invalid-feedback" *ngIf="(f.address.dirty || f.address.touched) && f.address.invalid" class="alert alert-danger">
                <div *ngIf="f.address.errors">address is required.</div>
            </div>
        </div>

        <button class="btn btn-success mt-2" type="submit" [disabled]="!form.valid">Update Employee</button>
    </form>
</div>